<div class="container mt-5">


    <!--Section: Content-->
    <section class="team-section text-center dark-grey-text">

        <!-- Section heading -->
        <h3 class="font-weight-bold mb-4 pb-2">Отзывы </h3>
        <!-- Section description -->
        <p class="text-center w-responsive mx-auto mb-5">Более 100 клиентов получившие быструю и качественную помощь.
        </p>

        <!--Grid row-->
        <div class="row text-center">

            <!--Grid column-->
            <div class="col-md-4 mb-4">

                <div class="testimonial">
                    <!--Avatar-->
                    <div class="avatar mx-auto">
                        <img src="/media/images/reviews/anna.jpg" style="width:50%"
                            class="rounded-circle z-depth-1 img-fluid">
                    </div>
                    <!--Content-->
                    <h4 class="font-weight-bold dark-grey-text mt-4">Анна</h4>
                    <p class="font-weight-normal dark-grey-text">
                        <i class="fas fa-quote-left pr-2"></i>Отличная фирма пользовалась услугами все очень
                        понравилось. Обслуживание на высшем уровне. Буду обращаться еще :)</p>
                    <!--Review-->
                    <div class="orange-text">
                        <i class="fas fa-star"> </i>
                        <i class="fas fa-star"> </i>
                        <i class="fas fa-star"> </i>
                        <i class="fas fa-star"> </i>
                        <i class="fas fa-star-half-alt"> </i>
                    </div>
                </div>

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-4 mb-4">

                <div class="testimonial">
                    <!--Avatar-->
                    <div class="avatar mx-auto">
                        <img src="/media/images/reviews/egor.jpg" style="width:50%"
                            class="rounded-circle z-depth-1 img-fluid">
                    </div>
                    <!--Content-->
                    <h4 class="font-weight-bold dark-grey-text mt-4">Егор</h4>
                    <p class="font-weight-normal dark-grey-text">
                        <i class="fas fa-quote-left pr-2"></i>Отличная компания. Требовалась быстрая переустановка
                        виндовс. Мастер быстро приехал установил еще и дополнительные работы сделал 5 из 5.</p>
                    <!--Review-->
                    <div class="orange-text">
                        <i class="fas fa-star"> </i>
                        <i class="fas fa-star"> </i>
                        <i class="fas fa-star"> </i>
                        <i class="fas fa-star"> </i>
                        <i class="fas fa-star"> </i>
                    </div>
                </div>

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-4 mb-4">

                <div class="testimonial">
                    <!--Avatar-->
                    <div class="avatar mx-auto">
                        <img src="/media/images/reviews/igor.jpg" style="width:50%"
                            class="rounded-circle z-depth-1 img-fluid">
                    </div>
                    <!--Content-->
                    <h4 class="font-weight-bold dark-grey-text mt-4">Игорь</h4>
                    <p class="font-weight-normal dark-grey-text">
                        <i class="fas fa-quote-left pr-2"></i>Требовалось восстановить данные, жена пролила на ноутбук
                        чай. Все оперативно сделали, увезли и привезли уже в рабочем состоянии, просто сказка. </p>
                    <!--Review-->
                    <div class="orange-text">
                        <i class="fas fa-star"> </i>
                        <i class="fas fa-star"> </i>
                        <i class="fas fa-star"> </i>
                        <i class="fas fa-star"> </i>
                        <i class="far fa-star"> </i>
                    </div>
                </div>

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

    </section>
    <!--Section: Content-->


</div>