
{% extends 'base.html' %}

{% block content %}
    {% if category.h1 %}
          <h1> {{category.h1}} </h1> 
     {% endif %}     

{% comment %} {% if uslugies %}
<table class="table mt-5">
  <thead>
    <tr>
      <th scope="col">№</th>
      <th scope="col">Название</th>
      <th scope="col">Цена</th>
    </tr>
  </thead>
  <tbody>
          {% for usl in uslugies %}
          <tr>
              <th scope="row">{{forloop.counter}}</th>
              <td> <a href= {% url 'uslugi:uslugi' category.slug usl.slug %}> {{usl.title}} </a></td>
              {% if usl.price == 1 %}

                       <td>цена по запросу </td>
              {% else %}
                        <td>от {{ usl.price }} руб.</td>
              {% endif %}

      
              <tr>

          {% endfor %}

  </tbody>

  </table>

{% endif %} {% endcomment %}

      {% if children_category%}
         <div class="row">
            {% for cat in children_category %}
                    <!--<img src="/media/{{ cat.image }}" width="100px"> --> 
                    
     
                    <div class="col-md-4"> 
            
                        <a class="card hoverable mb-4" href="{% url 'uslugi:children_category' category.slug cat.slug %}" >
      
                            <!-- Card image -->
                            <img class="card-img-top" src="/media/{{ cat.image }}" alt="{{cat.title}}">
              
                            <!-- Card content -->
                            <div class="card-body">
              
                              <h5 class="my-3">{{ cat.title }}</h5>
                            </div>
              
                          </a>
                        </div> 

                    {% if forloop.counter|divisibleby:"3" %}
                </div>  
                 <div class="row">
                {% endif %}
               
            {% endfor %} 
        </div> 
      
      {% endif %} 

      {% if category.content != None %}
        {{ category.content|safe }} 
      {% endif %}


<!--- Блоки преимуществ -->

{% include 'mobile/advantages.html' %}

<!-- Форма -->
{% include 'mobile/form.html' %}

<!---Отзывы-->
{% include 'mobile/reviews.html' %}





{% endblock %}



