
{% extends 'base.html' %}

{% block content %}
    <body>
        <header> 
    <div class='up-menu'>
          <h1> {{uslugi.title}} </h1> 
         <a href="{% url 'uslugi:category' parent_category.slug %}">{{parent_category.title}}</a> 
<!--- Блоки преимуществ -->
<div class="container pt-5 my-5 z-depth-1">
  <section class="p-md-3 mx-md-5">
    <div class="row">
      <div class="col-lg-3 col-md-6 mb-5">
        <h4 class="font-weight-bold mb-3">
          <i class="far fa-paper-plane indigo-text pr-2"></i> Feature 1
        </h4>
        <p class="text-muted">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        </p>
      </div>
      <div class="col-lg-3 col-md-6 mb-5">
        <h4 class="font-weight-bold mb-3">
          <i class="fas fa-pen-alt green-text pr-2"></i> Feature 2
        </h4>
        <p class="text-muted">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </div>
      <div class="col-lg-3 col-md-6 mb-5">
        <h4 class="font-weight-bold mb-3">
          <i class="fas fa-user amber-text pr-2"></i> Feature 3
        </h4>
        <p class="text-muted">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </div>
      <div class="col-lg-3 col-md-6 mb-5">
        <h4 class="font-weight-bold mb-3">
          <i class="fas fa-rocket red-text pr-2"></i> Feature 4
        </h4>
        <p class="text-muted">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </div>
      <div class="col-lg-3 col-md-6 mb-5">
        <h4 class="font-weight-bold mb-3">
          <i class="fas fa-home lime-text pr-2"></i> Feature 5
        </h4>
        <p class="text-muted mb-lg-0">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </div>
      <div class="col-lg-3 col-md-6 mb-5">
        <h4 class="font-weight-bold mb-3">
          <i class="fas fa-book-open blue-text pr-2"></i> Feature 6
        </h4>
        <p class="text-muted mb-lg-0">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </div>
      <div class="col-lg-3 col-md-6 mb-5">
        <h4 class="font-weight-bold mb-3">
          <i class="fas fa-book pink-text pr-2"></i> Feature 7
        </h4>
        <p class="text-muted mb-md-0">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </div>
      <div class="col-lg-3 col-md-6 mb-5">
        <h4 class="font-weight-bold mb-3">
          <i class="fas fa-paper-plane purple-text pr-2"></i> Feature 8
        </h4>
        <p class="text-muted mb-md-0">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </div>
    </div>
  </section>
</div>

<!-- отзывы -->
<div class="container py-5 my-5">
  <section class="p-md-5 mx-md-5 text-center text-lg-left">
    <div class="row">
      
      <div class="col-lg-6 px-3 mb-3 d-flex align-item-stretch">
        <div class="card">
          <div class="card-body m-1">
            <div class="row mb-4">
              <div class="col-lg-4 d-flex mb-2 align-items-center">
                <div
                  class="avatar w-100 white d-flex justify-content-center align-items-center"
                >
                  <img
                    src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg"
                    class="img-fluid z-depth-1"
                    alt="woman avatar"
                  />
                </div>
              </div>
              <div
                class="col-lg-8 text-muted d-flex flex-column justify-content-end pt-2"
              >
                <p class="mb-1"><strong>Anna Smith</strong></p>
                <p class="mb-1"><i>Product Manager</i></p>
              </div>
            </div>
            <hr />
            <div class="row">
              <p class="text-muted card-text mt-2 px-4 mb-2">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 px-3 mb-3 d-flex align-item-stretch">
        <div class="card">
          <div class="card-body m-1">
            <div class="row mb-4">
              <div class="col-lg-4 d-flex mb-2 align-items-center">
                <div
                  class="avatar w-100 white d-flex justify-content-center align-items-center"
                >
                  <img
                    src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).jpg"
                    class="img-fluid z-depth-1"
                    alt="woman avatar"
                  />
                </div>
              </div>
              <div
                class="col-lg-8 text-muted d-flex flex-column justify-content-end pt-2"
              >
                <p class="mb-1"><strong>Lara Croft</strong></p>
                <p class="mb-1"><i>Frontend Developer</i></p>
              </div>
            </div>
            <hr />
            <div class="row">
              <p class="text-muted card-text mt-2 px-4 mb-2">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>


{% endblock %}
